@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/JetBrainsMono-2.304/fonts/webfonts/JetBrainsMono-ExtreBold.woff2') format('woff2');
  font-weight: bold;
  font-size: normal;
}

header {
  font-family: 'JetBrains Mono';
  src: url('fonts/JetBrainsMono-2.304/fonts/webfonts/JetBrainsMono-ExtreBold.woff2') format('woff2');
  font-weight: bold;
  font-size: normal;
  background-color: rgb(34,26,14); /* Choose your desired background color */
  color: rgb(34,26,14); /* Choose your desired text color */
  height: fit-content;
  top: 20px;
  left: 30px;
  /* button for resume page */
  a {

    button {
      background-color: #221a0e;
      border-radius: 10px;
      border: #f5deb3;
      color: wheat;
      padding: 7.5px 16px;
      text-align: center;
      text-decoration: #C2A383;
      display: inline-block;
      font-size: 16px;
      font-weight: bolder;

    }
    
    button:hover {
      background-color: wheat;
      color: rgb(34,26,14);
    }
  }
}

body {
  /*font and background color of the website*/
  font-family: 'JetBrains Mono', Consolas, 'Courier New', monospace;
  background-color: rgb(34,26,14);
  color: wheat;

  /* Dropdown Button ***LOCATED IN HEADER!!!!***/
  .dropbtn {
    background-color: rgb(34,26,14);
    color: wheat;
    padding: 12%;
    font-size: 16px;
    border: none;
  }

  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: wheat;
    color: #C2A383
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    box-shadow: 0px 16px 24px 0px rgba(0,0,0,0.9);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: wheat;
    background-color: rgb(34,26,14);
    font-size: xx-large;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    color: #C2A383;
    background-color: wheat;
  }

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display:block;
  }

  /*BOTTOM MENU BAR*/
  .menu_bar {
    /*display: none;*/
    border: none;
    text-decoration: none;
    column-width: auto;
    bottom: 20px;

  }
  .menu_bar a {
    text-decoration: none;
  }

  /* hover the bottom menu */
  .menu_bar a:hover {
    border: none;
    background-color: rgb(34,26,14);
  }

  /* for the github button */
  .toTop {
    display: none;
    position: fixed;
    bottom: 20px; /* Place the button 20px from the bottom */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99;
    background-color: wheat;
    border-radius: 10px;
    border: wheat;
    color: #98676A;
    padding: 7.5px 16px;
    text-align: center;
    text-decoration: #C2A383;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
  }


/* I like this color as well #C2A383 and #98676A and #7E5053 */
}
